* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 20px;
  width: 492 px;
}

.first-section {
  background: #f5f5f5;
}

.title h1 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  padding: 94px 0 28px 0;
}
.title p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.hero-part {
  text-align: center;
  padding: 90px 0 76px 0;
}
.btn-group .btn1 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  border-radius: 30px;
  background: #6f2cff;
  width: 189px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 76px;
}
.btn2 {
  background-color: #fff;
  color: #6f2cff;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  border-radius: 30px;
  width: 189px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 76px;
  margin-left: 20px;
}
.second-section {
  text-align: center;
}
.second-section-title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  padding: 77.75px 0 70.25px 0;
}
.box-container {
  width: 1236px;
  margin: auto;
}
.box {
  display: inline-block;
  margin: 0 20px;
  width: 320px;
  height: 440px;
  text-align: center;
  margin-bottom: 100px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.box p {
  height: 80px;
  font-size: 18px;
  font-weight: 700;
  color: #6f2cff;
  line-height: 22px;
}
.box-logo {
  margin: 30px 0 25px;
}
.third-section {
  text-align: center;
  background: #f5f5f5;
}
.third-title {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 112.5% */
  padding: 67px 0 12px;
}
.third-title p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 12px 0 43px;
}
.container3 {
  margin-top: 58px;
}
.card1 {
  width: 490px;
  background-color: #17002e;
  height: 200px;
  text-align: left;
  padding: 30px 33px;
  display: inline-block;
  margin-right: 32px;
  margin-top: 30px;
  border-radius: 10px;
}
.card1-line {
  width: 383px;
  height: 3px;
  background-color: #fff;
  margin: 9px 77px 25px 32px;
}
.card-title {
  display: flex;
  align-items: center;
}

.card-title span {
  color: #d4bcbc;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-left: 15px;
}
.card1 p {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
